//  Imports
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500i');
$typeface: 'EB Garamond';

//  Variables
$typecolor: rgba(233, 233, 233, 1);

$medscreen: 801px;
$largescreen: 1921px;

// $sback = url('../img/back.s.jpg')
$mback: url('../img/back.m.jpg');
$lback: url('../img/back.j.jpg');

//  Mixins

//  Functions
// @function make-tint($color, $alpha) {
//   $tint: rgba($color, $alpha);
//   @return linear-gradient($tint, $tint);
// }

//  Styles
html {
  background: $mback no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: $typeface, sans-serif;

  @media screen and (min-width: $largescreen) {
    background-image: $lback;
  }
}

// body {
//   width: 100%;
// }

.container {
  margin: 0 auto;
  max-width: 67rem;
  position: relative;
  width: 100%;

  padding: 0 20px;
}

nav {
  background: rgba(#111111, 0.75);
  display: block;
  min-height: 15%;
  height: 3.2rem;

  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.title {
  display: inline;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-decoration: none;
}

a.title {
  color: $typecolor;
}

#couplet {
  color: $typecolor;
  display: block;
  margin-bottom: 5px;
  font-size:  3em;
  font-family: $typeface, cursive;
  font-weight: 500;
  font-style: italic;
}

.couplet-line {
  // display: block;
  opacity: 1;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  transition: opacity 180ms ease, transform 240ms ease;
  //transition-delay: 180ms;

  &:first-of-type::after {
    content: "\A";
    white-space: pre;
  }

  &:nth-of-type {
    transition-delay: 180ms;
  }
}

.loading .couplet-line {
  opacity: 0;
  transform: translateX(-25vw);
  transition-delay: 180ms;

  &:nth-child(2) {
    transition-delay: 0ms;
  }
}
